 @import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
body{
    font-family: Bebas Neue;
    text-align: center;
    background-color: beige;
    animation-name: animacja2;
    animation-duration: 3s;
}


h1{
    color: #693;
    text-align: center;
    font-size:45px;
    margin-bottom: 50px;
}
.selectniezdrowe{
    float: left;
    margin-left: 5%;
    font-size: 20px
}
label{
    font-size: 20px
}
span{
    color: #bad739;
}
p{
    color: #693;
}
.selectzdrowe{
    float: right;
    margin-right: 5%;
    font-size: 20px;
}
select{
    font-size: 20px;
    padding: 10px 20px;
    color: #2f6627;
}

#niezdrowe {
    width: 300px;
}
#zdrowe{
    width: 300px;
}

.oblicz1{
    background-color: #693;
	border-radius: 28px;
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}
.oblicz1:hover{
    background-color: #5cbf2a;
}
.oblicz1:active{
    position: relative;
	top: 1px;
}

.reset{
    background-color: rgb(153, 51, 51);
	border-radius: 28px;
    position: fixed;
    bottom: 1%;
    right: 1%;
	border: 2px solid black;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 15px;
	padding: 20px 30px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #662727;
}
.reset:hover{
    background-color: #bf2a2a;
}
.reset:active{
    background-color: #d53737;
}

#container1{
    border: 2px solid black;
    width: 400px;
    background-color: honeydew;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#container1>p{
    color: black;
}

#showdiv{
    width: 850px;
    height:160px;
    margin-top: 5px;
    background-color: honeydew;
    border: 2px solid black;
    position: relative;
    display: none;
    line-height: 2px;
}
@keyframes animacja2 {
    0%    {left: 90%;}
    25%   {right:90%;}
    50%  {right: 80%;}
    100% {right:0%;}
}



input[type=text]{
    width: 20%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus{
    border: 2px solid #555;
    background-color: honeydew;
}
@media screen and (max-width: 1150px){
    .selectzdrowe{
        float: right;
        margin-right: 10%;
    }
    .selectniezdrowe{
        float: left;
        margin-left: 10%;
    }
    #container1{
        margin-top: 20%;
    }
}
@media screen and (max-width: 1000px){
    .selectzdrowe{
        float: none;
        margin: 0% 0% 2% 0%;
    }
    .selectniezdrowe{
        float: none;
        margin: auto;
    }
    #container1{
        margin: 3%;
    }
}


#showdiv>p{
    line-height: 2px;
    color: black;
    font-size: 25px;
}

.tak9{
    line-height: 2px;
    color: rgb(93, 0, 255);
    font-size: 25px;
}

#niedamtu{
    color: black;
    font-size: 20px;
    line-height: 0px;
}
